@using MarketPlace.DataLayer.DTOs.Stores;
@model FilterStoreDTO
@{
    ViewData["Title"] = "درخواست های فروشندگی";
}

@section scripts{
    <script src="/admin/js/store/store.js"></script>
}

<div class="col-xs-4">
    <div class="well with-header with-footer">
        <div class="header bordered-success">
            فیلتر ها
        </div>
        <form asp-area="Admin" asp-controller="Store" asp-action="StoreRequests" id="filter-form" method="get">
            <input type="hidden" asp-for="CurrentPage" />
            <div class="form-group">
                <label>نام فروشگاه</label>
                <input class="form-control" asp-for="StoreName">
            </div>
            <div class="form-group">
                <label>تلفن تماس</label>
                <input class="form-control" asp-for="Phone">
            </div>
            <div class="form-group">
                <label>تلفن همراه</label>
                <input class="form-control" asp-for="Mobile">
            </div>
            <div class="form-group">
                <label>آدرس فروشگاه</label>
                <input class="form-control" asp-for="Address">
            </div>
            <hr />
            <div class="control-group">
                @foreach (var item in Html.GetEnumSelectList<FilterStoreState>())
                {
                    <div class="radio">
                        <label>
                            <input name="@nameof(Model.StoreState)" type="radio" class="colored-blue" value="@item.Value" @((Convert.ToInt32(Model.StoreState) == Convert.ToInt32(item.Value)) ? "checked" : "")>
                            <span class="text"> @item.Text</span>
                        </label>
                    </div>
                }
            </div>


            <button class="btn btn-success btn-block">فیلتر</button>
        </form>

    </div>
</div>

<div class="col-xs-8">
    <div class="well with-header with-footer">
        <div class="header bordered-success">
            @ViewData["Title"]
        </div>
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            شناسه
                        </th>
                        <th scope="col">
                            نام فروشگاه
                        </th>
                        <th scope="col">
                            تلفن
                        </th>
                        <th scope="col">
                            وضعیت تایید
                        </th>
                        <th scope="col">
                            عملیات
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Stores != null && Model.Stores.Any())
                    {
                        foreach (var store in Model.Stores)
                        {
                            <tr id="ajax-url-item-@store.Id">
                                <td>
                                    @store.Id
                                </td>
                                <td>
                                    @store.StoreName
                                </td>
                                <td>
                                    @store.Phone
                                </td>
                                <td>
                                    @Html.DisplayFor(m=>store.StoreAcceptanceState)
                                </td>
                                <td>
                                    @if(store.StoreAcceptanceState != MarketPlace.DataLayer.Entities.Stores.StoreAcceptanceState.Accepted)
                                    {
                                        <a class="btn btn-success" onclick="confirmStore('@Url.Action("AcceptStoreRequest","Store",new {area="Admin"})',@store.Id)">تایید اطلاعات</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            <p>
                                هیچ رکوردی یافت نشد
                            </p>
                        </div>
                    }
                </tbody>
            </table>
        </div>
        <div class="footer">
            <partial name="_AdminPagingPartial" model="Model.GetCurrentPaging()    " />
        </div>
    </div>

</div>

